@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.sidebar-base {
  @apply bg-slate-200 dark:bg-slate-950;
}

.container-base {
  @apply bg-slate-400/30 dark:bg-slate-900;
}

.subcontainer-base {
  @apply bg-slate-400/20 dark:bg-slate-800;
}

/*CARDS SÃO COMPONENTES QUE FICAM DENTRO DE SUBCONTAINERS QUE PODEM FUNCIONAR COMO CARDS NORMAIS COM GRAFICOS E INFORMAÇOES
E TAMBÉM PODEM FUNCIONAR COMO ITENS DENTRO DE SUBCONTAINERS*/
.card-base {
  @apply duration-150 ease-in-out transition-all rounded-lg 
        border border-slate-200/50 dark:border-slate-700/50 
        bg-white/15 dark:bg-slate-900/35  
        hover:border-slate-300 dark:hover:border-slate-600;
}

.skeleton-base {
  @apply bg-gradient-to-r from-slate-400/60 via-slate-400/30 to-slate-400/60
         dark:from-slate-700 dark:via-slate-600/90 dark:to-slate-700
         bg-[length:200%_2%] animate-shimmer;
}

.skeleton-sub {
  @apply bg-gradient-to-r from-white/20 via-slate-300/30 to-white/20
         dark:from-slate-800 dark:via-slate-700/60 dark:to-slate-800
         bg-[length:200%_50%] animate-shimmer;
}


.input-base {
  @apply duration-150 ease-in-out transition-all rounded-lg 
        border border-slate-200/50 dark:border-slate-700/50 
        bg-white/20 dark:bg-slate-900/35 
        hover:border-slate-500/30 dark:hover:border-slate-600
        placeholder:text-gray-500 dark:placeholder:text-gray-400 
        hover:bg-white/5 dark:hover:bg-gray-800 
        focus:bg-white/25 dark:focus:bg-gray-800 
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500/20 dark:focus-visible:ring-blue-400/20 
        disabled:cursor-not-allowed disabled:opacity-50 disabled:bg-gray-50 dark:disabled:bg-gray-900 ;
}



@theme {
  /* Light Theme Colors */
  --color-primary: oklch(.585 .233 277.117);
  --color-primary-hover: oklch(.457 .24 277.023);
  --color-primary-text: oklch(95% 0.015 296.8);

  --color-secondary: oklch(.769 .188 70.08);
  --color-secondary-hover: oklch(.666 .179 58.318);
  --color-secondary-text: oklch(95% 0.015 296.8);

  --color-background: oklch(75% 0.0650 280);
  --color-container: oklch(82% 0.0550 280);
  --color-subcontainer: oklch(0.79 0.0542 279.19);
  --color-card: oklch(0.72 0.0600 280);

  --color-title: oklch(32.07% 0.1509 270.29);
  --color-subtitle: oklch(0.24 0.0934 272.92);
  --color-paragraph: oklch(0.13 0.0302 276.83);

  --color-success: oklch(.704 .14 182.503);
  --color-success-light: oklch(.511 .096 186.391);

  --color-info: oklch(.588 .158 241.966);
  --color-info-light: oklch(.5 .134 242.749);

  --color-warning: oklch(.666 .179 58.318);
  --color-warning-light: oklch(.555 .163 48.998);

  --color-danger: oklch(.586 .253 17.585);
  --color-danger-light: oklch(.645 .246 16.439);

  --color-error: oklch(.455 .188 13.697);

  --color-white: oklch(100% 0 0);
  --color-white-light: oklch(97% 0.01 294.6);

  --color-ring: oklch(40% 0.18 150);
  --color-ring-offset: oklch(94% 0.01 304.6);

  --color-input: oklch(88.3% 0.017 302.2);
  --color-placeholder: oklch(0.33 0.0934 277.57);

  /* Animation definitions */
  --animate-shimmer: shimmer 5.5s ease-in-out infinite;
  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

}

/* Dark theme colors - applied when .dark class is present */
.dark {
  --color-primary: oklch(.585 .233 277.117);
  --color-primary-hover: oklch(.457 .24 277.023);
  --color-primary-text: oklch(95% 0.015 296.8);

  --color-secondary: oklch(.769 .188 70.08);
  --color-secondary-hover: oklch(.666 .179 58.318);
  --color-secondary-text: oklch(95% 0.015 296.8);

  --color-background: oklch(12.27% 0.0105 280);
  --color-container: oklch(20.53% 0.0240 280);
  --color-subcontainer: oklch(24.53% 0.0260 280);
  --color-card: oklch(40.53% 0.0379 280);

  --color-title: oklch(92% 0.012 296.9);
  --color-subtitle: oklch(80% 0.016 296.8);
  --color-paragraph: oklch(0.92 0.0204 295.17);
  

  --color-success: oklch(0.704 0.14 182.503);
  --color-success-light: oklch(0.777 0.152 181.912);

  --color-info: oklch(0.685 0.169 237.323);
  --color-info-light: oklch(0.746 0.16 232.661);

  --color-warning: oklch(0.705 0.213 47.604);
  --color-warning-light: oklch(0.75 0.183 55.934);

  --color-danger: oklch(.586 .253 17.585);
  --color-danger-light: oklch(.645 .246 16.439);

  --color-error: oklch(45% 0.2 26.8);

  --color-white: oklch(100% 0 0);
  --color-white-light: oklch(90% 0.02 295.4);

  --color-ring: oklch(46% 0.18 150);
  --color-ring-offset: oklch(12% 0.03 296.6);

  --color-input: oklch(16.7% 0.038 296.3);
  --color-placeholder: oklch(0.81 0.0266 283.38);
  
}

body {
  background-color: var(--color-background);
  color: var(--color-title);
  font-family: 'Quicksand', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

