@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Theme Colors */
  --color-primary: oklch(34.8% 0.17 296.84);
  --color-primary-hover: oklch(31.5% 0.165 296.22);
  --color-primary-text: oklch(93.9% 0.015 296.88);
  --color-secondary: oklch(74.4% 0.134 77.2);
  --color-secondary-hover: oklch(62.6% 0.126 77.3);
  --color-secondary-text: oklch(93.9% 0.015 296.88);
  --color-background: oklch(90.1% 0.016 304.6);
  --color-container: oklch(84.7% 0.018 303.4);
  --color-surface-0: oklch(88.3% 0.017 302.2);
  --color-surface-1: oklch(79.3% 0.019 301.6);
  --color-surface-2: oklch(75.5% 0.02 301.5);
  --color-surface-hover: oklch(75.2% 0.02 301.6);
  --color-title: oklch(24.3% 0.088 296.7);
  --color-subtitle: oklch(14.4% 0.07 296.4);
  --color-paragraph: oklch(8.2% 0.05 296.3);
  --color-placeholder: oklch(19.2% 0.04 296.6);
  --color-success: oklch(34.8% 0.17 296.84);
  --color-success-light: oklch(50.4% 0.224 296.35);
  --color-info: oklch(61.8% 0.124 200.7);
  --color-info-light: oklch(79.3% 0.098 217.4);
  --color-warning: oklch(75.9% 0.141 78.5);
  --color-warning-light: oklch(64.7% 0.131 78.5);
  --color-danger: oklch(47.4% 0.16 26.6);
  --color-danger-light: oklch(44.3% 0.155 26.6);
  --color-error: oklch(40.4% 0.168 26.8);
  --color-white: oklch(99.9% 0.005 291.64);
  --color-white-light: oklch(97.2% 0.007 294.6);
  --color-ring: oklch(34.8% 0.17 296.84);
  --color-ring-offset: oklch(90.1% 0.016 304.6);
}

/* Dark theme colors - these will be applied when .dark class is present */
.dark {
  --color-primary: oklch(34.8% 0.17 296.84);
  --color-primary-hover: oklch(31.5% 0.165 296.22);
  --color-primary-text: oklch(93.9% 0.015 296.88);
  --color-secondary: oklch(74.4% 0.134 77.2);
  --color-secondary-hover: oklch(62.6% 0.126 77.3);
  --color-secondary-text: oklch(93.9% 0.015 296.88);
  --color-background: oklch(19.2% 0.04 296.6);
  --color-container: oklch(7.2% 0.034 297.8);
  --color-surface-0: oklch(16.7% 0.038 296.3);
  --color-surface-1: oklch(21.4% 0.046 296.1);
  --color-surface-2: oklch(26.4% 0.057 295.6);
  --color-surface-hover: oklch(13.6% 0.034 296.5);
  --color-title: oklch(90.3% 0.012 296.9);
  --color-subtitle: oklch(79.7% 0.016 296.8);
  --color-paragraph: oklch(86.1% 0.014 296.9);
  --color-placeholder: oklch(86.1% 0.014 296.9);
  --color-success: oklch(26.6% 0.139 297.2);
  --color-success-light: oklch(18.9% 0.12 296.6);
  --color-info: oklch(61.8% 0.124 200.7);
  --color-info-light: oklch(79.3% 0.098 217.4);
  --color-warning: oklch(75.9% 0.141 78.5);
  --color-warning-light: oklch(75.9% 0.141 78.5);
  --color-danger: oklch(47.4% 0.16 26.6);
  --color-danger-light: oklch(44.3% 0.155 26.6);
  --color-error: oklch(40.4% 0.168 26.8);
  --color-white: oklch(99.9% 0.005 291.64);
  --color-white-light: oklch(5.9% 0.03 295.4);
  --color-ring: oklch(34.8% 0.17 296.84);
  --color-ring-offset: oklch(19.2% 0.04 296.6);
}

body {
  background-color: var(--color-background);
  color: var(--color-title);
  font-family: 'Quicksand', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
