@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.card-base {
  @apply duration-150 ease-in-out transition-all rounded-lg border border-gray-200/50 dark:border-gray-700/50 bg-gray-300/80 dark:bg-gray-900/35 hover:border-gray-300 dark:hover:border-gray-600;
}

@theme {
  /* Light Theme Colors */
  --color-primary: oklch(32.07% 0.1509 270.29);
  --color-primary-hover: oklch(27.85% 0.1262 270.94);
  --color-primary-text: oklch(95% 0.015 296.8);

  --color-secondary: oklch(81.79% 0.1705 77.95);
  --color-secondary-hover: oklch(78.39% 0.1719 68.09);
  --color-secondary-text: oklch(95% 0.015 296.8);

  --color-background: oklch(75% 0.0650 280);
  --color-container: oklch(82% 0.0550 280);
  --color-subcontainer: oklch(0.79 0.0542 279.19);
  --color-card: oklch(0.72 0.0600 280);

  --color-title: oklch(32.07% 0.1509 270.29);
  --color-subtitle: oklch(0.24 0.0934 272.92);
  --color-paragraph: oklch(0.13 0.0302 276.83);

  --color-success: oklch(.704 .14 182.503);
  --color-success-light: oklch(.511 .096 186.391);

  --color-info: oklch(.588 .158 241.966);
  --color-info-light: oklch(.5 .134 242.749);

  --color-warning: oklch(.666 .179 58.318);
  --color-warning-light: oklch(.555 .163 48.998);

  --color-danger: oklch(.586 .253 17.585);
  --color-danger-light: oklch(.514 .222 16.935);

  --color-error: oklch(.455 .188 13.697);

  --color-white: oklch(100% 0 0);
  --color-white-light: oklch(97% 0.01 294.6);

  --color-ring: oklch(40% 0.18 150);
  --color-ring-offset: oklch(94% 0.01 304.6);

  --color-input: oklch(88.3% 0.017 302.2);
  --color-placeholder: oklch(0.33 0.0934 277.57);

}

/* Dark theme colors - applied when .dark class is present */
.dark {
  --color-primary: oklch(32.07% 0.1509 270.29);
  --color-primary-hover: oklch(27.85% 0.1262 270.94);
  --color-primary-text: oklch(95% 0.015 296.8);

  --color-secondary: oklch(81.79% 0.1705 77.95);
  --color-secondary-hover: oklch(78.39% 0.1719 68.09);
  --color-secondary-text: oklch(95% 0.015 296.8);

  --color-background: oklch(12.27% 0.0105 280);
  --color-container: oklch(20.53% 0.0240 280);
  --color-subcontainer: oklch(24.53% 0.0260 280);
  --color-card: oklch(40.53% 0.0379 280);

  --color-title: oklch(92% 0.012 296.9);
  --color-subtitle: oklch(80% 0.016 296.8);
  --color-paragraph: oklch(0.92 0.0204 295.17);
  

  --color-success: oklch(0.51 0.1043 165.51);
  --color-success-light: oklch(0.45 0.1132 165.06);

  --color-info: oklch(60% 0.15 220);
  --color-info-light: oklch(70% 0.12 220);

  --color-warning: oklch(72% 0.15 85);
  --color-warning-light: oklch(80% 0.13 85);

  --color-danger: oklch(55% 0.2 26);
  --color-danger-light: oklch(65% 0.18 26);

  --color-error: oklch(45% 0.2 26.8);

  --color-white: oklch(100% 0 0);
  --color-white-light: oklch(90% 0.02 295.4);

  --color-ring: oklch(46% 0.18 150);
  --color-ring-offset: oklch(12% 0.03 296.6);

  --color-input: oklch(16.7% 0.038 296.3);
  --color-placeholder: oklch(0.81 0.0266 283.38);
  
}

body {
  background-color: var(--color-background);
  color: var(--color-title);
  font-family: 'Quicksand', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

